

    <section class="actions">
      <h2>The Box</h2>
      <button mat-raised-button color="primary" (click)="findPokemon()">Find Pokemon</button>
      
    </section>
    <app-find-pokemon [mon]="foundPokemon" (pokemonUpdated)="updatePokemonList($event)"></app-find-pokemon>
    <section class="team">
      <mat-card class="card" *ngFor="let mon of box">
        <mat-card-header>
          <mat-card-title>{{ mon.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img src={{mon.image}} alt="picture of {{this.mon.name}}">
        </mat-card-content>
        <mat-card-content>
          PokeDex ID: {{mon.dexid}}
        </mat-card-content>
        <mat-card-content>Height: {{mon.height}} m</mat-card-content>
        <mat-card-content>Weight: {{mon.weight}} lbs</mat-card-content>
        <mat-card-actions>
          <button  color="primary" mat-raised-button (click)="removeMon(mon)">Release</button>
        </mat-card-actions>
      </mat-card>
    </section>
      
