<div *ngIf="mon">
    <div>
        
        Name:
        <input [(ngModel)]="mon.name" placeholder="Name">
        <button color="primary" mat-raised-button (click)="findPokemon(mon.name)">Find</button>
        <button color="accent" mat-raised-button (click)="getRandomMon()">Find Random Pokemon</button>
        <div *ngIf="mon">
            
            <section class="team">
                <mat-card class="card" *ngFor="let mon of found">
                    
                  <mat-card-header>
                    <mat-card-title>{{ data.name }}</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <img src={{data.image}} alt="picture of {{this.mon.name}}">
                  </mat-card-content>
                  <!-- <mat-card-content>
                    PokeDex ID: {{data.dexId}}
                  </mat-card-content> -->
                  <mat-card-content>Height: {{data.height}} m</mat-card-content>
                  <mat-card-content>Weight: {{data.weight}} lbs</mat-card-content>
  
              </mat-card>
              </section>

            <button *ngIf="found.length > 0" color="warn" mat-raised-button (click)="captureMon(data)">Capture</button>
        </div>
    </div>
</div>
